.list-group-item:hover{
    background-color: teal;
    color: white;
    font-size: 15px;
    font-family: Bahnschrift Light;
    font-weight: bold;

}
a:link{
    text-decoration: none;
    color: white;
}
a:visited {	
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
}
a:active {
    text-decoration: none;
    color:white;
}
.menu{
    background-color: grey;   
    font-family: 'Slabo 27px', serif;
}
.banner h1{
    color:  "white";
}

.footer{
    background-color: rgb(119, 221, 119);
}
.footer p{
    color: white;
    text-align: center;
}
.list-group-item{
    background-color: grey;
    border: 0 none;
    float: left;
}
.image{
    width: 50%;
    height: 50% ;
}
.details {
    background-color: rgb(190,0,1);
    font-family: 'Slabo 27px', serif;
    color: white;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}
.menubackground{
    background-color: grey;
    width: 120%;
}
.bannerbackground{
    background-color: rgb(190,0,1);
}
.img-fluid{
    width: 100%;
    height: 70%;
    padding: 0;
    display: block;
}

.content{
    background-color: black;
    height: 100%;
    color: green;
}
.content h1{
    font-family: 'Slabo 27px', serif;
    background-color: green;
    text-align: center;
    color: black;
}
.content p{
    font-family: Courier New;
    font-size: 20px;
    text-align: center;
}
.interests li{
    font-family: Courier New;
}
.interests{
    text-align: center;
}
.Interests_item{
    font-family: Courier New;
    font-size: 35px;
}
.buttons{
    background-color: black;
    border-color: green;
    color: white;
    font-family: Courier New;
}
.buttons:hover{
    background-color: green;
    border-color: black;
    color:black;
}
.navbar.left{
    width: 20%;
}
.centered {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
  .logo{
    width: 20%;
    padding: none;
}
.navbar-brand{
    border: 10px solid transparent;
  padding: 15px;
  border-image: 20% round;
}
.menu1{
    background-color: rgb(174, 198, 207);
}
.menu1 h3{
    font-family: 'Slabo 27px', serif;   
    color: black;
}
.menu2 h3{
    font-family: 'Slabo 27px', serif;   
    color: black;
}
.menu3 h3{
    font-family: 'Slabo 27px', serif;   
    color: black;
}
.menu4 h3{
    font-family: 'Slabo 27px', serif;   
    color: black;
}
.menu1:hover{
    color: white;
    font-family: 'Slabo 27px', serif;
    animation-name: example;
    animation-duration: 4s;
}
.menu2{
    background-color: rgb(244, 209, 119);
    animation-name: example;
}
.menu2:hover{
    color: white;
    font-family: 'Slabo 27px', serif;
    animation-name: example;
    animation-duration: 4s;
}
.menu3{
    background-color: rgb(255, 105, 97);
}
.menu3:hover{
    color: white;
    font-family: 'Slabo 27px', serif;
    animation-name: example;
    animation-duration: 4s;
}
@keyframes example {
    25%  {background-color:yellow;}
    50%  {background-color:blue;}
    75%  {background-color:green;}
    100% {background-color:red;}
  }

